@import "node_modules/muicss/lib/sass/mui-colors";

$mui-select-menu-item-bg-color-selected: mui-color('teal', '600');
$mui-select-menu-item-bg-color-hover: mui-color('teal', '600');

$mui-label-font-color: mui-color('teal', '600');
$mui-input-border-color-focus: mui-color('teal', '600');

.mui-select{
    width:150px;

    &:focus{
        z-index: 2000;            
    }
}



@import "node_modules/muicss/lib/sass/mui";