$small: 408px;

@mixin flex($justify:center, $flow:row nowrap ){
    display: flex;
    flex-flow: $flow;
    align-items: center;
    justify-content: $justify;
}


html, section{
    background-color: rgba(0, 0, 0, 0.03);
}


.flex {
    @include flex;
    .content{
        margin-top: 10px;
    }
}

.wrap{
    @include flex(flex-start);
}

.arrow-button{
    @include mdc-button-container-fill-color(rgba(0, 137, 123, 0));


    i{
        transform: scale(3);
    }
}

.breaker{
    @include flex(space-between);

    @media screen and (max-width:650px){
        @include flex(central, column wrap);        
    }
}

.central-container{
    
    @media screen and (max-width: $small) {
        @include flex;
    }
}

#exibirId{
    margin-right: 10px;
}

.no-link{
    color: #fff;
    &:hover{
        text-decoration: none;
    }
}

