.html-resize{
    width:100%;
    height:100%;
}


#login-fieldsetId, .html-resize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#login-fieldsetId{
    width: 300px;
    height: 300px;
    
}


#login-buttonsId{
    width: 80% !important;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

#help-button-id{
    @include mdc-button-container-fill-color(#fff);
}

#close-button-id{
    color: #fff !important;
}   