$mdc-theme-primary: #00897b;

@import "@material/theme/mdc-theme";


@import "@material/dialog/mdc-dialog.scss";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/elevation/mdc-elevation";
@import "@material/grid-list/mdc-grid-list";


.material-icons.yellow500 { color: #FFEB3B; }
.material-icons.lightgreenA700 {color: #64DD17;}
.material-icons.redA700 {color: #D50000;}

.mdc-toolbar{
    @include mdc-toolbar-fill-color(#00897b);
}


.mdc-button{
    @include mdc-button-icon-color(#00897b);
    @include mdc-states-base-color(#00897b);

    @include mdc-button-container-fill-color(#00897b);
}


.white-button{
    @include mdc-button-container-fill-color(#fff);
}

.mdc-text-field{
    @include  mdc-text-field-line-ripple-color(#00897b);
}

.mdc-floating-label--float-above{
    @include mdc-floating-label-ink-color(#00897b);
}

.dark-ripple{
    @include mdc-states-base-color(#000000);
}



.form-fieldset{
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(105, 105, 105, 0.3);
    border-width: 1px;
    border-color:rgb(197, 195, 195);
    border-style: solid;

    > *{
        padding: 15px;

    }
}

.mdc-grid-tile{
    --mdc-grid-list-tile-width: 300px;

}
.mdc-grid-list__tiles {
    margin: 0px !important;

    padding-left: 15px !important;
}