.mdc-text-field input{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    box-shadow: 0 0 0 0 !important;
}

.select-block, .select-wrapper{
    z-index: 24 !important;
}

.datepicker{
    width: 150px !important;
}

#fieldsetId{
    height: 380px;
    width: 310px;

    > *{
        margin-bottom: 15px;
    }

}

.no-link:link{
    text-decoration: none;
    color: #fff;
}

.no-link:visited{
    text-decoration: none;
    color: #fff;
}

.no-link:hover{
    color: #fff;
    text-decoration: none;
}

.no-link:active{
    text-decoration: none;
    color: #fff;
}



#reserve-buttonsId{
    width:100%;

    text-align: right;

    @media screen and (max-width: 420px){
        .mdc-button{
            width:100%;
            
        }
        text-align:unset;

    }
}

#reserve-bodyId {
    background-color: rgb(255,255,255);
    
    > section{
        background-color: rgb(255,255,255);
        
    }
}


#reserve-formId {
    display:flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

#select-labsId .mui-select__menu{
    top: 10px !important;
    height: 210px !important;
}