#cadastrar-buttons-id{
    width: 80% !important;
    margin-top: 0;
    text-align: end;

}


#botao-proximo-container-id{
    text-align: end;
}

.pg2{
    display:none;
    opacity:0;
}

#cadastro-fieldset-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: max-content;
    padding-top: 5px;
    margin-top: 70px;
}