#checkboxes {
    display: none;
    position: absolute;
    top: 60px;
    border: 1px #dadada solid;
    height: 150px;
    width: 160px;
    overflow: auto;
    z-index: 25;
    background: white;
}

.vali {
    display: flex !important;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    &:hover {
        background-color: #eeeeee !important;
    }
}

.mui-select__menu {
    top: 0;
}

[visible="0"] {
    display: none !important;
}

